a{
  text-decoration: none;
}
.container{
    box-sizing: border-box;
}

body{
    background-image: url(../img-noise-361x370.png);
}


.bor-bottom{
    border-top: .15rem  black dotted;
    border-bottom: .15rem  black dotted ;
    
}
h1{
    font-family: 'Pacifico', cursive;
    font-size: 3.3rem;
}


.kl{
height: 9.375rem;
display: flex;
justify-content: center;
align-items: center;
}
.Bookmarker{

    position: relative;
    width: 25%;
    height: 3.75rem;
    background-color: rgba(0, 0, 255, 0);
}

.t{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #b5ac4900;
    z-index: 1111;
}
.Bookmarker:hover  .lear{
    height: 60%;
    transition: .4s;
}
.lear {
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0%;
    background-color: #fec260;
    transition: .4s;
}

.Bookmark h2{
    background-image: linear-gradient(to right, #3ca55c,#b5ac49, #b5ac49);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.5625rem;
}
.w-15{
    margin: 0px auto;
    width: 25%;
    margin-bottom: .625rem;
    height: 1.25rem;
  
}


/*  */
.input {
    border: none;
    outline: none;
    background-color: #ffffff;
    box-shadow: inset 2px 5px 10px rgba(247, 243, 243, 0.3);
    transition: 300ms ease-in-out;
    
}
.input:focus {
    background-color: white;
    transform: scale(1.05);
}
/*  */
button {
    position: relative;
    margin: 0;
    padding: 17px 35px;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid rgba(22, 76, 167, 0.6);
    border-radius: 10px;
    color: #1d89ff;
    font-weight: 400;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
  
  button span {
    color: #164ca7;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
    
  }
  
  button:hover {
    animation: rotate624 0.7s ease-in-out both;
  }
  
  button:hover span {
    animation: storm1261 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  @keyframes rotate624 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  @keyframes storm1261 {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
  
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
  
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
  
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }
  
  .btn-shine {
    border: 1px solid;
    overflow: hidden;
    position: relative;
  }
  
  .btn-shine span {
    z-index: 20;
  }
  
  .btn-shine:after {
    background: #38ef7d;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
  
  .btn-shine:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }



@media screen and (max-width: 300px) 
{
.container{
  padding: 0px 0px;
  margin: 0px 0px;
}
  h1{
    font-size: 35px;
}
.Bookmarker{
    width: 100%;
    text-align: center;
}
.lear {
    background-color: #fec16000;
}
.Bookmark h2{
  font-size: 14px;
}
.w-15{
  width: 50%;
  margin-bottom: 10px;
  height: 20px;
}
 th , td{
  font-size: 9px;
  flex-wrap: wrap;
}
.btn-sm{
font-size: 9px;
width: 20px;
height: 20px;
display: flex;

}
}
@media screen and (max-width: 500px) 
{
.container{
  padding: 0px 0px;
  margin: 0px 0px;
}
  h1{
    font-size: 35px;
}
.Bookmarker{
    width: 100%;
    text-align: center;
}
.lear {
    background-color: #fec16000;
}
.Bookmark h2{
  font-size: 14px;
}
 th , td{
  font-size: 9px;
  flex-wrap: wrap;
}
.btn-sm{
font-size: 9px;
width: 20px;
height: 20px;
display: flex;

}
}
@media screen and (max-width: 800px) 
{
  h1{
    font-size: 3.125rem;
}
.Bookmarker{
    text-align: center;
    width: 100%;

}
.lear {
  background-color: #fec16000;
}
}
@media screen and (max-width: 1000px) 
{
  h1{
    font-size: 3.125rem;
}
.Bookmarker{
    text-align: center;
    width: 38%;

}
.lear {
  background-color: #fec16000;
}
}
@media screen and (max-width: 1200px) 
{
  .Bookmarker{
    text-align: center;
    width: 30%;
}
}
@media screen and (min-width: 1400px) 
{
  .Bookmarker{
    width: 22%;
}
}


